// ng-progress variables
$baseFont : 10px;

$source-regular :'sourceregular';
$source-bold :'sourcebold';
$source-semibold :'sourcesemibold';

// colors
$white: #fff;
$black: #000;
$color-434343 : #434343;
$color-F5F5F5 :#F5F5F5;
$color-2e7ec7 : #2e7ec7;
$color-333: #333;
$color-555: #555;
$color-ddd :#ddd;
$color-f5f5f5 :#f5f5f5;
$color-555555 : #555555;
$color-a94442 :#a94442;
$color-808080 : #808080;
$color-999999 :#999999;
$color-F7F7F7 : #F7F7F7;
$color-d2d6de : #d2d6de;
$color-777 : #777;
$color-eee :#eee;
$color-33cc77 :#33cc77;
$color-00D6384A: #2e7ec7;
$color-yellow : yellow;
$color-blue : blue;
$color-red :red;
$color-lightblue :lightblue;
$color-darkblue :darkblue;
$color-3c8dbc: #3c8dbc;

// grdi row color
$color-4A38D6 : #4A38D6;
$color-A7DCF5 : #A7DCF5;
$color-00038c : #00038c;
$color-F7B221 : #F7B221;
$color-FF0080 :#FF0080;
$color-400040 : #400040;
$color-FF80FF : #FF80FF;
$color-000000 :#000000;
$color-navy : navy;